[build]
  command = "npm run build:web"
  publish = "dist"

[[redirects]]
  from = "/support.html"
  to = "/support.html"
  status = 200

[[redirects]]
  from = "/privacy.html"
  to = "/privacy.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

